<hr>
<div class="text-center mb-5">
  <a routerLink="/random" routerLinkActive="active">
    <button class="btn-danger">
      Obtenir une recette aléatoire
    </button>
  </a>
</div>
<div id="recette" class="text-center">
  <h1>Venez découvrir nos recettes !!</h1>
</div>
<div class="container mt-3">
  <div class="row">
    <div id="cardsRecipes">
      <div class="card-deck">
        <div *ngFor="let recipe of recipes">
          <app-recipe
            [recipe]="recipe">
          </app-recipe>
        </div>
      </div>
    </div>
  </div>
</div>

