<div>
  <h1>Admin Interface</h1><br>
</div>
<div class="text-center mb-5" id="createRecipe">
  <h2>Ajouter Une Recette</h2>
</div>
<h3 class="text-center">Informations générales sur votre recette</h3>
<hr>
<div class="form">
  <div class="text-center mb-5">
    <label for="recipeName">Nom de votre recette</label>
    <br>
    <input [(ngModel)]="name" type="text" id="recipeName" required>
    <br><br>
    <div class="text-center mb-5">
      <label for="recipeContent">Descriptif rapide de votre recette</label><br>
      <textarea rows="3" cols="60" id="recipeContent"
                [(ngModel)]="recipeContent"></textarea>
    </div>
    <div class="text-center mb-5">
      <label for="cookingTime">Temps de cuisson en minutes</label>
      <br>
      <input [(ngModel)]="cookingTime" type="number" id="cookingTime" required>
    </div>
    <div class="text-center mb-5">
      <label for="preparationTime">Temps de préparation en minutes</label>
      <br>
      <input [(ngModel)]="preparationTime" type="number" id="preparationTime" required>
    </div>
    <div class="text-center mb-5">
      <label for="difficulty">Difficulté estimée sur 5</label>
      <br>
      <input [(ngModel)]="difficulty" id="difficulty" type="number" min="1" max="5" required>
    </div>
    <div class="text-center mb-5">
      <label for="pictureUrl">URL d'une image pour votre recette</label>
      <br>
      <input [(ngModel)]="pictureUrl" id="pictureUrl" type="text" required>
    </div>
    <div class="text-center mb-5">
      <label for="portions">Nombres de personnes</label>
      <br>
      <input [(ngModel)]="portions" id="portions" type="number" min="1" max="6" required>
    </div>
    <hr>
    <br>
    <h3>Liste des étapes</h3>
    <form [formGroup]="invoiceForm2">
      <div formArrayName="steps">
        <div *ngFor="let step of invoiceForm2.controls.steps.controls; let j=index" [formGroupName]="j">
          <div class="form-group">
            <div class="text-center mb-5">
              <label for="order">Saisissez le numéro d'ordre de votre étape</label>
              <br>
              <input formControlName="order" id="order" type="number" require>
            </div>
            <div class="text-center mb-5">
              <label for="description">Descriptif de l'étape</label><br>
              <textarea formControlName="description" id="description" rows="4" cols="60" required></textarea>
            </div>
            <button *ngIf="invoiceForm2.controls.steps.controls.length > 1" (click)="deleteRow2(j)"
                    class="btn btn-danger">-
            </button>
          </div>
        </div>
      </div>
    </form>
    <button type="button" (click)="addNewRow2()" class="btn btn-primary">+</button>
    <br><br>
    <hr>
    <br>
    <h3>Liste des ingrédients</h3><br>
    <div id="ingredients">
      <br><br>
      <form [formGroup]="invoiceForm">
        <div formArrayName="ingredients">
          <div *ngFor="let ingredient of invoiceForm.controls.ingredients.controls; let i=index" [formGroupName]="i">
            <div class="form-group">
              <div class="text-center mb-5">
                <label>Saisir le nom de l'ingrédient</label>
                <br>
                <input formControlName="name" type="text" required>
              </div>
              <div class="text-center mb-5">
                <label>Saisir la quantité pour l'ingrédient</label>
                <br>
                <input formControlName="quantity" type="number" required>
              </div>
              <div class="text-center mb-5">
                <label>Saisir l'unité de mesure pour l'ingrédient</label><br>
                <input formControlName="unit" type="text" required>
              </div>
              <button *ngIf="invoiceForm.controls.ingredients.controls.length > 1" (click)="deleteRow(i)"
                      class="btn btn-danger">-
              </button>
            </div>
          </div>
        </div>
      </form>
      <button type="button" (click)="addNewRow()" class="btn btn-primary">+</button>
      <br><br>
      <div id="buttonGenerate">
        <button
          class="btn-success"
          (click)="save()">Valider
        </button>
      </div>
      <br>
      <div id="success-creation" class="text-center mb-5 bg-success" *ngIf="creationOk">
        Création Réussie !!
      </div>
    </div>
  </div>
</div>
