<hr>
<div class="details-recipe">
  <div class="card mb-4" id="card_album" style="min-width: 30rem; max-width: 45rem;">
    <img class="card-img-top image-responsive" src="{{recipe.pictureUrl}}" alt="Card image cap"
         style="min-height: 30rem; max-height: 30rem">
    <div class="card-body text-center">
      <h1>{{recipe.name}}</h1>
      <hr>
      <br>
      <p>Temps de préparation : {{recipe.preparationTime}} minutes</p>
      <p>Temps de cuisson : {{recipe.cookingTime}} minutes</p>
      <p>Difficulté : {{recipe.difficulty}} / 5</p>
      <p>Pour : {{recipe.portions}} personnes</p><br>
      <hr>
      <h5>Ingredients:</h5>
      <hr>
      <div id="ingredients-affichage" *ngFor="let ingredient of recipe.ingredients">
        <ul>{{ingredient.name}} = {{ingredient.quantity}} {{ingredient.unit}}</ul>
      </div>
      <div>
        <hr>
        <h5>Liste des étapes</h5>
        <hr>
        <div *ngFor="let step of recipe.steps">
          Etape {{step.orders}}: {{step.description}}<br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mb-5">
    <a routerLink="/recipes">
      <button class="btn-warning">Retour</button>
    </a>
  </div>
</div>
