<div class="create-ingredient">
  <h1>Ajouter un ingrédient</h1>
  <br>
  <label for="name" id="ingredientName">Nom de l'ingredient</label><br>
  <input [(ngModel)]="ingredientName" type="text" id="name">
  <button
    class="btn-success"
    (click)="save()">Valider
  </button>
  <hr>
  <h1>Liste des ingrédients enregitrés</h1>
  <br>
  <div class="row text-center mb-5">
    <div *ngFor="let ingredient of ingredients">
      <button style="margin: 8px" class="btn-dark">
        <app-ingredient
          [ingredient]="ingredient">
        </app-ingredient>
      </button>
      <hr>
    </div>
  </div>
</div>
