<div class="card mb-4" id="card_album" style="min-width: 18rem; max-width: 18rem; min-height: 34rem; max-height: 34rem">
  <img class="card-img-top image-responsive" src="{{recipe.pictureUrl}}" alt="Card image cap" style="min-height: 8rem; max-height: 10rem">
  <div class="card-body text-center">
    <h5 class="card-title">{{recipe.name}}</h5>
    <p>Temps de préparation : {{recipe.preparationTime}} minutes</p>
    <p>Temps de cuisson: {{recipe.cookingTime}} minutes</p>
    <p>Difficulté : {{recipe.difficulty}} / 5</p>
    <p><strong>{{recipe.recipeContent}}</strong></p>
    <div class="card-footer text-center">
      <a [routerLink]="['/details', recipe.id]" routerLinkActive="active"><button class="btn btn-primary">Détails</button></a>
    </div><br>
    <button>+</button>
  </div>
</div>
