@import '~bootstrap/dist/css/bootstrap.min.css';

.card-deck
{
  width: 100%;
  margin: auto;
}

#recette{
  font-family: "Comic Sans MS", serif;
  display: flex;
  justify-content: center;
  border: solid 2px black;
}

#cardsRecipes{
  display: flex;
  justify-content: center;
  margin: auto;
  position: absolute;
  left: 12%;
}

h1{
  align-content: center;
}

body{
  color: darkcyan;
  background-color: azure;
  font-family: "Comic Sans MS", serif;
}

input, textarea
{
  background-color: gainsboro;
}
