<div>
  <h1>Admin Interface</h1><br>
  <div style="text-align: center">
    <button class="bg-warning"><a routerLink="/creation" routerLinkActive="active">Ajouter une recette</a></button>
    <br><br>
    <hr><br>
    <button class="bg-dark"><a routerLink="/" routerLinkActive="active">Supprimer une recette</a></button>
  </div>
</div>

